@import url('https://cdn.jsdelivr.net/npm/galmuri@latest/dist/galmuri.css');

* {
  animation: main 0.5s cubic-bezier(0, 0, 0, 1) forwards;

}

#title {
  text-shadow: 0.125em 0 0 #0C134F;
  text-shadow: 0em 0.125em 0 #8294C4;
  font-weight: bold;
  color: #0C134F;
  transform: translateY(-0.125em);
}

#problem {
  text-shadow: 0.125em 0 0 hsl(234, 74%, 18%);
  text-shadow: 0em 0.125em 0 #526D82;
  font-weight: bold;
  color: #27374D;
  transform: translateY(-0.125em);
}

#rank {
  text-shadow: 0.125em 0 0 hsl(234, 74%, 18%);
  text-shadow: 0em 0.125em 0 #B0A4A4;
  font-weight: bold;
  color: #643A6B;
  transform: translateY(-0.125em);
}

#hof {
  text-shadow: 0.125em 0 0 hsl(234, 74%, 18%);
  text-shadow: 0em 0.125em 0 #F79327;
  font-weight: bold;
  color: #B70404;
  transform: translateY(-0.125em);
}

.problemTable a {
  text-decoration: none;
  color: black;
}

.problemTable .author {
  font-weight: bold;
}

main {}