@import url('https://cdn.jsdelivr.net/npm/galmuri@latest/dist/galmuri.css');

* {
  animation: main 0.5s cubic-bezier(0, 0, 0, 1) forwards;

}

#title {
  text-shadow: 0.125em 0 0 #0C134F;
  text-shadow: 0em 0.125em 0 #8294C4;
  font-weight: bold;
  color: #0C134F;
  transform: translateY(-0.125em);
}

main {}